<nav class="navbar navbar-inverse navbar-global navbar-fixed-top">
    <div class="container-fluid" style="color: white; background-color: #53868B;">
        <div class="navbar-header">
            <div *ngIf="name == 'npp'">
            	<a class="navbar-brand" routerLink="/nhaphanphoi" style="color: white;">Vegetable Dashboard
            		<span class="glyphicon glyphicon-align-justify" style="margin-left: 100px;"></span>
            	</a>
            </div>
            <div *ngIf="name == 'ncc'">
              <a class="navbar-brand" routerLink="/nhacungcap" style="color: white;">Vegetable Dashboard
                <span class="glyphicon glyphicon-align-justify" style="margin-left: 100px;"></span>
              </a>
            </div>
            <div *ngIf="name == 'sieuthi'">
              <a class="navbar-brand" routerLink="/sieuthi" style="color: white;">Vegetable Dashboard
                <span class="glyphicon glyphicon-align-justify" style="margin-left: 100px;"></span>
              </a>
            </div>
        </div>   
        <div class="collapse navbar-collapse"> 
          <ul class="nav navbar-nav navbar-user navbar-right"> 
            <a routerLink="/thongtintaikhoan/{{name}}" style="color: white; text-decoration: none;; text-align: center;">{{tenTk}} <a href="javascript:void(0);" (click)="logOut();" style="text-decoration: none;">[Thoát đăng nhập]</a></a>  
          </ul> 
        </div> 
      </div>
        
</nav>
<br>
<br> 