<nav class="navbar navbar-inverse navbar-global navbar-fixed-top">
    <div class="container-fluid" style="color: white; background-color: #53868B;">
        <div class="navbar-header">
            <div *ngIf="name == 'npp'">
            	<a class="navbar-brand" routerLink="/nhaphanphoi" style="color: white;">Vegetable Dashboard
            		<span class="glyphicon glyphicon-align-justify" style="margin-left: 100px;"></span>
            	</a>
            </div>
            <div *ngIf="name == 'ncc'">
              <a class="navbar-brand" routerLink="/nhacungcap" style="color: white;">Vegetable Dashboard
                <span class="glyphicon glyphicon-align-justify" style="margin-left: 100px;"></span>
              </a>
            </div>
            <div *ngIf="name == 'sieuthi'">
              <a class="navbar-brand" routerLink="/sieuthi" style="color: white;">Vegetable Dashboard
                <span class="glyphicon glyphicon-align-justify" style="margin-left: 100px;"></span>
              </a>
            </div>
        </div>   
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-user navbar-right"> 
                <span dropdown>
        <a href id="basic-link" dropdownToggle (click)="false"
                 aria-controls="basic-link-dropdown">Click me for a dropdown, yo!</a>
            <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="basic-link">
              <li>
                <a class="dropdown-item" href="#">Vu</a>
                <a class="dropdown-item" href="#">Thi</a>
                <a class="dropdown-item" href="#">Ngoc</a>
              </li>
            </ul>
          </span>
            <!-- <li class="dropright">
              <a href="javascript:void(0);" onclick="openTTTK();" class="dropdown-toggle" data-toggle="dropdown" role="button" style="color: white;">{{tenTk}}
                  <span class="caret"> 
                  </span>
              </a>
              <div *ngIf="tttk">
                <a routerLink="/thongtintaikhoan/{{name}}" class="list-group-item" style="color: white; background-color: #53868B;"><span class="glyphicon glyphicon-user"></span>Thông tin tài khoản</a>
                <a href="javascript:void(0);" class="list-group-item" style="color: white; background-color: #53868B;"  (click)="logOut();"><span class="glyphicon glyphiconon-log-out"></span>Logout</a> 
              </div>
            </li>  -->
          </ul>
         
        </div> 
      </div>
</nav>
<br>
<br> 